.top-form{

   -fx-background-color:#fff;
   -fx-border-color:#000;
   -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
   -fx-background-color:#efefef;
   -fx-border-color:#000;
   -fx-border-width:.2px .4px .0px .4px;
}

.close {

  -fx-background-color:transparent;
  -fx-cursor:hand;
}

.close:hover{

    -fx-background-color:#ff3547;
 }

 .minimise {

  -fx-background-color:transparent;
  -fx-cursor:hand;
}

.minimise:hover{

    -fx-background-color:#ddd;
 }

 .nav-form{
 -fx-background-color:B55C2D;
 }

 .text {
   -fx-text-fill:#fff;
 }
 .nomProfile {
    -fx-text-fill:#28475c;
  }

 .icon-principal {
    -fx-text-fill:B55C2D;
 }

 .nav-btn{
   -fx-background-color:transparent;
   -fx-cursor:hand;
   -fx-font-family:"Arial";
   -fx-font-size:14px;
   -fx-text-fill:#fff;
   -fx-alignment:CENTER-LEFT;
 }

 .nav-btn:hover{
    -fx-background-color:#28475C;
 }

 .logout{
      -fx-background-color:#28475C;
      -fx-background-radius:10px;
      -fx-cursor:hand;
 }

.shadow{
  -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
   -fx-background-color:#fff;
   -fx-background-radius:5px;
}

.card {
  fx-background-color: linear-gradient(
          to bottom right,
          #2C3E50,
          #4CA1AF
      );

   -fx-background-radius:10px;
}

.circle{
    -fx-background-radius: 50%;
    -fx-padding:10;
     -fx-text-fill:#fff;
     -fx-max-height:55;
     -fx-max-width:55;
}

.card-user{
   -fx-background-color:#3498DB;
 }
 .card-book {
   -fx-background-color:#1ABC9C;
 }
 .card-emprunt{
  -fx-background-color:#F39C12;
 }
 .card-retard {
   -fx-background-color:#E74C3C;
 }

 .btn-ajout {
   -fx-background-color: #B55C2D;
     -fx-text-fill: #fff;
     -fx-background-radius: 10;
 }

 .btn-ajout:hover {
     -fx-background-color: #B55C2D;
     -fx-text-fill: #fff;

 }

 /* TableView Header Styling */
 .table-view .column-header-background {
     -fx-background-color: #C85A17;
 }

 .table-view .column-header {
     -fx-background-color: #C85A17;
     -fx-text-fill: white;
     -fx-font-weight: bold;
     -fx-font-size: 12;
     -fx-padding: 10;
 }

 .table-view .column-header .label {
     -fx-text-fill: white;
     -fx-font-weight: bold;
 }

 .table-view {
     -fx-table-cell-border-color: #ddd;
 }

 .table-row-cell {
     -fx-padding: 5;
 }

 .table-row-cell:hover {
     -fx-background-color: #f0f0f0;
 }